<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lemoin.lemoincoinandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lemoincoin_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginScreen"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".AddressPage"
            android:label="Address Book"/>
        <activity android:name=".SendCoin"
            android:label="Send Coin"/>
        <activity android:name=".AddActivity"/>
        <activity android:name=".QrCodeScanner" />
        <!-- Implemented for the qr scanner via google vision. -->
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"></meta-data>
    </application>


</manifest>