body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Roboto Light';
}
.container {
    width: 50%;
    margin-bottom: 0em;
}
div {
    width: 50%;
    margin-bottom: 1em;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 1em 0;
    padding: 1em 4em;
    display:block;
}
